<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :price %>
    <%= f.input :description %>
  </div>
  <div class="field">
    <%= f.label :photo %>
    <%= f.file_field :photo, required: 'required'  %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
